article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #1a1a1a;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: "Input Mono Narrow";
  src: url("../fonts/input_mono_narrow.woff") format("woff");
}
@font-face {
  font-family: "Input Mono Bold";
  src: url("../fonts/input_mono_bold.woff") format("woff");
}
@font-face {
  font-family: "Input Mono Narrow Bold";
  src: url("../fonts/input_mono_narrow_bold.woff") format("woff");
}
html {
  background: #ffffff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: #ffffff;
}

h3 {
  color: #34383a;
  font-size: 1.7rem;
  font-weight: 500;
  max-width: 700px;
  text-align: center;
}

h1 {
  color: #36434d;
}

*, a, a:focus, a:active, a:visited {
  outline: none;
  border: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 600px) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 960px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1170px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1400px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row-nav {
  height: 4rem;
  width: 100%;
  position: fixed;
  background: white;
  border-bottom: 1px solid #E0E0E0;
  top: 0;
  z-index: 10;
}
.row-nav .wrapper {
  height: 100%;
}
.row-nav .btn-primary.btn-color {
  color: #1F8EED;
  background: #ffffff;
}
.row-nav .nav-li-items ul li {
  display: inline-block;
  margin: auto 1.4rem;
}
.row-nav .nav-li-items ul li a {
  color: #42526E;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Noto Sans',Oxygen,Ubuntu,'Droid Sans','Helvetica Neue',sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857142857143;
  letter-spacing: -.005em;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: color .3s ease;
}
.row-nav .nav-li-items ul li a:hover {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #0052CC;
  opacity: 1;
}

a.sublink {
  color: #42526E;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Noto Sans',Oxygen,Ubuntu,'Droid Sans','Helvetica Neue',sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857142857143;
  padding: 6px;
  letter-spacing: -.005em;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: color .3s ease;
}
a.sublink:hover {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #0052CC;
  opacity: 1;
}

md-menu-content {
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.dropmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.dropmenu ul li {
  float: left;
}
.dropmenu li a, .dropmenu .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropmenu li a:hover, .dropmenu .dropdown:hover .dropbtn {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #0052CC;
}
.dropmenu li.dropdown {
  display: inline-block;
}
.dropmenu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropmenu .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropmenu .dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropmenu .dropdown:hover .dropdown-content {
  display: block;
}

.ngview {
  position: relative;
  top: 4rem;
  background: #ffffff;
}

footer {
  background: #202020;
  color: #ffffff;
  position: relative;
  margin-top: 7rem;
  top: 4rem;
}
footer .container {
  padding: 5rem 0 2rem;
}
footer .links a {
  margin: auto 1rem;
  text-decoration: none;
  color: #DEE4EB;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
footer img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
footer ul {
  padding: 0;
}
footer ul li {
  display: inline-block;
  margin: auto 1rem;
  text-align: left;
  list-style: none;
}
footer .icons {
  margin: 3rem;
}
footer .icons h3 {
  margin-bottom: 0;
}
footer .icons a {
  text-decoration: none;
  color: white;
}
footer .icons i {
  font-size: 24px;
}
footer .icons a.facebook:hover {
  color: #3b5999;
}
footer .icons .twitter:hover {
  color: #55acee;
}
footer .icons .linkedin:hover {
  color: #0077B5;
}
footer .icons .dribble:hover {
  color: #ea4c89;
}
footer .icons .github:hover {
  color: #131418;
}
footer p {
  text-align: center;
  font-size: 14px;
  color: #D9DCE3;
  opacity: 0.4;
}

.construction {
  height: 100vh;
}
.construction h1 {
  font-size: 50px;
}
.construction body {
  font: 20px Helvetica, sans-serif;
  color: #333;
}
.construction article {
  display: block;
  text-align: left;
  width: 650px;
  margin: 0 auto;
}
.construction a {
  color: #dc8100;
  text-decoration: none;
}
.construction a:hover {
  color: #333;
  text-decoration: none;
}

/*partial/home.html section1 css starts from here*/
#section1 {
  height: 100vh;
  max-height: 500px;
}
#section1 .img-carousel {
  height: 100%;
}
#section1 .img-carousel ul {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#section1 .img-carousel ul li {
  display: inline;
  width: 100%;
  overflow: hidden;
}
#section1 .img-carousel ul li img {
  vertical-align: top;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

.text-over-img {
  overflow: hidden;
  position: relative;
  top: -100%;
  height: 100%;
  font-family: "Varela Round", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.62);
  color: #f2f2f2;
}
.text-over-img h2 {
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
}
.text-over-img h4 {
  font-size: 1.7rem;
  font-weight: 400;
}

@media (max-width: 1280px) {
  .text-over-img {
    overflow: hidden;
    position: relative;
    top: 0%;
    height: 100%;
    background: url(../images/image2.jpg);
  }
}
.text-over-img .head-wrapper {
  margin: auto;
}

.v-align {
  font-size: 28px;
  line-height: 51px;
  margin-bottom: 0;
  margin: 50px;
}

@media (max-width: 600px) {
  .text-over-img {
    overflow: hidden;
    position: relative;
    top: -100%;
    height: 100vh;
    max-height: 600px;
    background: url(../images/image2.jpg);
  }

  .v-align {
    margin: 0 50px;
  }
}
@-moz-document url-prefix() {
  .text-over-img {
    overflow: hidden;
    position: relative;
    top: -100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/image2.jpg");
  }
}
@media (max-width: 1440px) {
  #section1 {
    width: 100%;
    height: calc(100vh - 70px);
    max-height: 610px;
    box-sizing: border-box;
    /*background: red;*/
    position: relative;
    top: 0px;
    margin-top: 70px;
  }
}
@media (max-width: 600px) {
  #section1 {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    /*background: red;*/
    position: relative;
    top: 0px;
    margin-top: 0px;
  }

  .ti-main-font {
    font-size: 42px !important;
    margin: 30px !important;
  }
}
.carousel-img {
  width: 100%;
  height: 100vh;
  max-height: 700px;
}

.section2 {
  height: 100vh;
  max-height: 400px;
}
.section2 .text-wrapper {
  height: 100%;
  width: 100%;
}
.section2 .text-wrapper p {
  font-size: 20px;
  line-height: 30px;
  color: #535863;
  font-weight: 300;
  text-align: center;
  max-width: 800px;
  font-family: "Open Sans", sans-serif;
}

.cust-container {
  height: auto;
  overflow: hidden;
}
.cust-container .left {
  width: 240px;
  float: left;
  height: 100vh;
  position: fixed;
  background: #F4F5F7;
}
.cust-container .left ul {
  padding: 0 8px;
}
.cust-container .left ul li {
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 40px;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
}
.cust-container .left ul li a {
  border-radius: 3px;
  display: block;
  height: 100%;
  position: relative;
  text-decoration: none;
  color: #42526E;
}
.cust-container .left ul li a div {
  height: 100%;
}
.cust-container .left ul li a:hover, .cust-container .left ul li a:active {
  background: rgba(9, 30, 66, 0.04);
  color: #0052CC;
}
.cust-container .left ul li a i {
  font-size: 16px;
}
.cust-container .left ul li a .ti-direction-alt {
  font-size: 19px;
}
.cust-container .right {
  float: none;
  /* not needed, just for clarification */
  background: white;
  position: relative;
  left: 240px;
  /* the next props are meant to keep this block independent from the other floated one */
  width: calc(100% - 240px);
  overflow: hidden;
}
.cust-container .right .wrapper {
  padding: 2rem 3rem;
}
.cust-container .right .wrapper h3 {
  text-align: left;
  color: #34383a;
  font-size: 1.3rem;
  margin-top: 3rem;
}
.cust-container .right .wrapper h3:nth-child(1) {
  margin-top: 2rem;
}
.cust-container .right .wrapper h4 {
  color: #34383a;
  font-size: 1rem;
}
.cust-container .right .wrapper p {
  font-family: "Varela Round", sans-serif;
  color: #576366;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.section3 {
  height: 400px;
  width: 100%;
  background: #D9ECE7;
}
.section3 div {
  height: 100%;
}
.section3 h3 {
  color: #34383a;
  font-size: 1.7rem;
  font-weight: 500;
  max-width: 700px;
  text-align: center;
}
.section3 a {
  white-space: nowrap;
  margin: 3rem auto;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #6772e5;
  text-decoration: none;
  transition: all .15s ease;
  color: #fff;
  background: #6772e5;
}

.custom-btn {
  white-space: nowrap;
  margin: 1rem auto;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #6772e5;
  text-decoration: none;
  transition: all .15s ease;
  color: #fff;
  background: #6772e5;
}

.collab.ngo .container {
  margin-top: 3rem;
}
.collab.ngo .md-headline {
  color: #4D4E52;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Varela Round", sans-serif;
}
.collab.ngo i {
  font-size: 24px;
}

.internship, .policy {
  font-family: "Varela Round", sans-serif;
  color: #576366;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.internship h1, .policy h1 {
  text-align: center;
  font-size: 2.4rem;
}
.internship .text-wrapper, .policy .text-wrapper {
  width: 100%;
}

.ngo_details {
  height: 70%;
  width: 600px;
  background: white;
}
.ngo_details .text-wrapper {
  padding: 16px;
  color: #576366;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Varela Round", sans-serif;
}
.ngo_details p {
  font-family: "Varela Round", sans-serif;
  color: #576366;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.ngo_details h3 {
  margin: 0 auto 10px;
  text-align: left;
}
.ngo_details i {
  margin-right: 20px;
  font-size: 24px;
}
.ngo_details .bottom {
  padding: 16px;
  background: #EEE;
  margin-top: 8px;
}
.ngo_details ul {
  padding: 0;
}
.ngo_details ul li {
  font-weight: 400;
  font-size: 17px;
  color: #32325d;
  margin: .3rem 1rem;
  text-align: left;
  list-style-type: circle;
}

.download.app h1 {
  text-align: center;
  font-size: 2.4rem;
  font-family: "Varela Round", sans-serif;
}
.download.app p {
  font-family: "Varela Round", sans-serif;
  max-width: 900px;
  color: #576366;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.download.app .btn-wrapper .custom-btn {
  margin: 0 20px;
}

.team-section {
  max-height: 1930px;
}
.team-section .member-wrap img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.team-section h2 {
  font-size: 3rem;
  text-align: center;
}

.team-section .at-section__title {
  margin: 70px auto;
  color: #000;
  font-family: "Varela Round", sans-serif;
  color: #373c46;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 2.625rem;
  text-align: center;
}
.team-section .at-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #FFF;
}
.team-section .at-grid[data-column="1"] .at-column {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  flex-basis: 100%;
}
.team-section .at-grid[data-column="2"] .at-column {
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  flex-basis: 50%;
}
.team-section .at-grid[data-column="3"] .at-column {
  width: 33.33333%;
  max-width: 33.33333%;
  min-width: 33.33333%;
  flex-basis: 33.33333%;
}
.team-section .at-grid[data-column="4"] .at-column {
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  flex-basis: 25%;
}
.team-section .at-grid[data-column="5"] .at-column {
  width: 20%;
  max-width: 20%;
  min-width: 20%;
  flex-basis: 20%;
}
.team-section .at-grid[data-column="6"] .at-column {
  width: 16.66667%;
  max-width: 16.66667%;
  min-width: 16.66667%;
  flex-basis: 16.66667%;
}
.team-section .at-grid[data-column="7"] .at-column {
  width: 14.28571%;
  max-width: 14.28571%;
  min-width: 14.28571%;
  flex-basis: 14.28571%;
}
.team-section .at-grid[data-column="8"] .at-column {
  width: 12.5%;
  max-width: 12.5%;
  min-width: 12.5%;
  flex-basis: 12.5%;
}
.team-section .at-grid[data-column="9"] .at-column {
  width: 11.11111%;
  max-width: 11.11111%;
  min-width: 11.11111%;
  flex-basis: 11.11111%;
}
.team-section .at-column {
  z-index: 0;
  position: relative;
  background: #FFF;
  box-shadow: 0 0 0 1px #E2E9ED;
  padding: 10px;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
}
.team-section .at-column:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.team-section .at-column:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
}
.team-section .at-column:hover .at-social {
  margin: 16px 0 0;
  opacity: 1;
}
@media (max-width: 800px) {
  .team-section .at-column {
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
    flex-basis: 50% !important;
  }
}
@media (max-width: 600px) {
  .team-section .at-column {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    flex-basis: 100% !important;
  }
}
.team-section .at-user {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
  text-align: center;
}
.team-section .at-user__avatar {
  width: 98px;
  height: 98px;
  border-radius: 100%;
  margin: 0 auto 20px;
  overflow: hidden;
}
.team-section .at-user__avatar img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.team-section .at-user__name {
  color: #313435;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.625rem;
}
.team-section .at-user__title {
  color: #6F808A;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  line-height: 2.375rem;
}
.team-section .at-social {
  margin: 0 0 -18px;
  opacity: 0;
  transition: margin 0.2s ease, opacity 0.2s ease;
}
.team-section .at-social__item {
  display: inline-block;
  margin: 0 10px;
}
.team-section .at-social__item a {
  display: block;
  color: #83888D;
  font-family: "PT Sans", sans-serif;
}
.team-section .at-social__item a i {
  font-size: 20px;
}
.team-section .at-social__item svg {
  fill: #515F65;
  display: block;
  height: 18px;
  transition: fill 0.2s ease;
}
.team-section .at-social__item svg:hover {
  fill: #788D96;
}
.team-section .container {
  max-width: 1170px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  transform-origin: top center;
  transform: scale(0.8);
}

.about.faq h1, .hours.complaint h1 {
  text-align: center;
  font-size: 2.4rem;
}
.about.faq h2, .hours.complaint h2 {
  text-align: left;
  color: #34383a;
  font-size: 1.05rem;
}
.about.faq div, .hours.complaint div {
  font-family: "Varela Round", sans-serif;
  color: #576366;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.about.faq .subheader, .hours.complaint .subheader {
  text-align: center;
}

.md-accordion {
  max-width: 900px;
  margin: auto;
}
.md-accordion .expandCollapse {
  width: 30px;
  height: 30px;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  display: block;
  margin-top: -2px;
  margin-left: -2px;
  overflow: hidden;
}
.md-accordion .expandCollapse:active {
  border: 0px;
}
.md-accordion .expandCollapse:before, .md-accordion .expandCollapse:after {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 32px;
  text-align: center;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}
.md-accordion .expandCollapse:before {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  content: "|";
  margin-top: -3px;
}
.md-accordion .expandCollapse:after {
  opacity: 1;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  content: "|";
  margin-left: -3px;
}
.md-accordion .active:before {
  opacity: 1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: 3px;
  margin-top: 0px;
}
.md-accordion .dataContent {
  background: #F2F2F2;
  height: 0px;
  overflow: hidden;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}
.md-accordion .activeContent {
  height: auto;
  padding: 20px;
  display: block;
}
.md-accordion .toolbar {
  cursor: pointer;
  padding: 16px;
  border-bottom: 1px solid #D4D4D4;
}
