@charset "UTF-8";
@import "compass";
@import "partials/variable";
@import "partials/normalize";
@font-face {
  font-family:"Input Mono Narrow";
  src: url('../fonts/input_mono_narrow.woff') format('woff');
}
@font-face {
  font-family: "Input Mono Bold";
  src: url('../fonts/input_mono_bold.woff') format('woff');
}
@font-face {
  font-family: "Input Mono Narrow Bold";
  src: url('../fonts/input_mono_narrow_bold.woff') format('woff');
}
html {
  background: #ffffff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body{
  font-family: $ubuntu;
  background: #ffffff;
}
h3{
  color: #34383a;
  font-size: 1.7rem;
  font-weight: 500;
  max-width:700px;
  text-align: center;
}
*, a, a:focus, a:active, a:visited{
  outline: none;
  border: 0;
}
// container from bootstrap
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: $xs-break) {
      width: 750px;
  }
  @media screen and (min-width: $md-break) {
    width: 970px;
  }
  @media screen and (min-width: $lg-break) {
    width: 1170px;
  }
  @media screen and (min-width: $xl-break) {
    width: 1400px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row-nav{
  height: 4rem;
  width: 100%;
  position: fixed;
  background: rgba(255,255,255,1);
  border-bottom: 1px solid #E0E0E0;
  // box-shadow: 0 2px 20px 0 rgba(128, 128, 128, 0.5);
  // position: fixed;
  top: 0;
  z-index: 10;
  .wrapper{
    height: 100%;
  }
  .btn-primary.btn-color {
    color: $btn-color;
    background: $white;
  }
  .nav-li-items{
    ul li{
      display: inline-block;
      margin: auto 1.4rem;
      a{
        color: #42526E;
        font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Noto Sans',Oxygen,Ubuntu,'Droid Sans','Helvetica Neue',sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.42857142857143;
        letter-spacing: -.005em;
        cursor: pointer;
        position: relative;
        // text-transform: uppercase;
        text-decoration: none;
        transition: color .3s ease;
        // text-shadow: 2px 2px 1px rgba(0,0,0,.08);
        &:hover{
          @include transition(all 0.3s ease-in-out);
          color: #0052CC;
          opacity:1;
        }
      }
    }
  }
}
a.sublink{
  color: #42526E;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Noto Sans',Oxygen,Ubuntu,'Droid Sans','Helvetica Neue',sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857142857143;
  padding: 6px;
  letter-spacing: -.005em;
  cursor: pointer;
  position: relative;
  // text-transform: uppercase;
  text-decoration: none;
  transition: color .3s ease;
  // text-shadow: 2px 2px 1px rgba(0,0,0,.08);
  &:hover{
    @include transition(all 0.3s ease-in-out);
    color: #0052CC;
    opacity:1;
  }
}
md-menu-content{
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  border-radius: 4px;
}
.ngview{
  position: relative;
  top: 4rem;
  background: #ffffff;
}

footer{
  background: #fff;
  color: $white;
  position: relative;
  top: 4rem;
  .container{
    padding: 3rem;
  }
  ul {
    padding: 0;
      li {
      display: inline-block;
      margin: auto 1rem;
      text-align: left;
      list-style: none;
      margin: 0;
      a{
        color: #859196 ;
        font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Noto Sans',Oxygen,Ubuntu,'Droid Sans','Helvetica Neue',sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.62857142857143;
        letter-spacing: -.005em;
        cursor: pointer;
        position: relative;
        // text-transform: uppercase;
        text-decoration: none;
        transition: color .3s ease;
        // text-shadow: 2px 2px 1px rgba(0,0,0,.08);
        &:hover{
          @include transition(all 0.3s ease-in-out);
          color: #0052CC;
          opacity:1;
        }
      }
    }
  }
}




// home.html starts from here
/*partial/home.html section1 css starts from here*/
#section1{
  height: 100vh;
  max-height: 700px;
  .img-carousel {
    height: 100%;
    ul {
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
      overflow: hidden;
      li {
        display: inline;
        width: 100%;
        overflow: hidden;
        img {
         vertical-align: top;
         position: absolute;
         top: 0;
         width: 100%;
         height: auto;
       }
      }
    }
  }
}
.text-over-img{
  overflow: hidden;
  position: relative;
  top: -100%;
  height: 100%;
  font-family: $varela;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: rgba(0,0,0,0.62);
  color:#f2f2f2;
  h2{
    font-size: 3.5rem;
    font-family: $montserrat;
    margin-bottom: 0;
  }
  h4{
    font-size: 1.7rem;
    font-weight: 400;
  }
}
@media (max-width:1280px){
  .text-over-img{
    overflow: hidden;
    position: relative;
    top: 0%;
    height: 100%;    background: url(../images/image2.jpg);
  }
}
.text-over-img .head-wrapper{
  margin: auto;
}
.v-align{
  font-size: 28px;
  line-height: 51px;
  margin-bottom: 0;
  margin: 50px;
}
@media (max-width:600px){
  .text-over-img{
    overflow: hidden;
    position: relative;
    top: -100%;
    height: 100vh;
    max-height: 600px;
    background: url(../images/image2.jpg);
  }
  .v-align{
    margin:0 50px;
  }
}
@-moz-document url-prefix() {
  .text-over-img{
    overflow: hidden;
    position: relative;
    top: -100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/image2.jpg');
  }
}

@media (max-width:1440px){
  #section1{
    width: 100%;
    height: calc(100vh - 70px);
    max-height: 610px;
    box-sizing: border-box;
    /*background: red;*/
    position: relative;
    top:0px;
    margin-top: 70px;
  }
}
@media (max-width:600px){
  #section1{
    width: 100%;
    height: auto;;
    box-sizing: border-box;
    /*background: red;*/
    position: relative;
    top:0px;
    margin-top: 0px;
  }
  .ti-main-font{
    font-size: 42px !important;
    margin: 30px !important;
  }
}
.carousel-img{
  width:100%;
  height: 100vh;
  max-height: 700px;
}




.section2{
  height: 100vh;
  .text-wrapper{
    height: 100%;
    width: 100%;
    p{
      font-size: 20px;
      line-height: 30px;
      color: #535863;
      font-weight: 300;
      text-align: center;
      max-width: 800px;
      font-family: $open-sans;
    }
  }
}

// aboutus.html starts from here
.cust-container {
   height: auto;
   overflow: hidden;
   .left {
     width: 240px;
     float: left;
     height: 100vh;
     position: fixed;
     background: #F4F5F7;
     ul{
       padding: 0 8px;
       li{
          border-radius: 3px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          height: 40px;
          position: relative;
          text-overflow: ellipsis;
          width: 100%;
          a{
            border-radius: 3px;
            display: block;
            height: 100%;
            position: relative;
            text-decoration: none;
            color: #42526E;
            div{
              height: 100%;
            }
            &:hover, &:active{
              background: rgba(9, 30, 66, 0.04);
              color: #0052CC;
            }
            i{
              font-size: 16px;
            }
            .ti-direction-alt{
              font-size: 19px;
            }
          }
       }
     }
   }
   .right {
     float: none; /* not needed, just for clarification */
    //  background: #e8f6fe;
    background: white;
     position: relative;
     left:240px;
     /* the next props are meant to keep this block independent from the other floated one */
     width:calc(100% - 240px);
     overflow: hidden;
     .wrapper{
       padding: 2rem 3rem;
       h3{
         text-align: left;
         color: #34383a;
         font-size: 1.3rem;
         margin-top: 3rem;
         &:nth-child(1){
           margin-top: 2rem;
         }
       }
       h4{
         color: #34383a;
         font-size: 1rem;
       }
       p{
         font-family: $varela;
         color: #576366;
         font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
       }
     }
   }
}
.list-wrapper{
}
.section3{
  height: 400px;
  width: 100%;
  div{
    height: 100%;
  }
  background: #D9ECE7;
  h3{
    color: #34383a;
    font-size: 1.7rem;
    font-weight: 500;
    max-width:700px;
    text-align: center;
  }
  a{
    white-space: nowrap;
    margin: 3rem auto;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #6772e5;
    text-decoration: none;
    transition: all .15s ease;
    color: #fff;
    background: #6772e5;
  }
}

.custom-btn{
  white-space: nowrap;
  margin: 1rem auto;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #6772e5;
  text-decoration: none;
  transition: all .15s ease;
  color: #fff;
  background: #6772e5;
}

.section4{
  height: 100vh;
  width: 100%;
}
// ngo.html starts from here
.collab.ngo{
  .container{
    margin-top: 3rem;
  }
  .md-headline{
    color: #4D4E52;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    font-family: $varela;
  }
  i{
    font-size: 24px;
  }
}

.internship{
  h1{
    font-weight: 500;
    text-align: center;
  }
  .text-wrapper{
    width: 100%;
  }
  font-family: $varela;
  color: #576366;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}




// ngo.details.html starts from here
.ngo_details{
  height: 70%;
  width: 600px;
  background: white;
  .text-wrapper{
    padding: 16px;
    color: #576366;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: $varela;
  }
  p{
    font-family: $varela;
    color: #576366;
    font-size: 1rem;
     font-weight: 400;
     line-height: 1.5;
  }
  h3{
    margin:0 auto 10px;
    text-align: left;
  }
  i{
    margin-right: 20px;
    font-size: 24px;
  }
  .bottom{
    padding: 16px;
    background: #EEE;
    margin-top: 8px;
  }
  ul {
    padding: 0;
    li {
      font-weight: 400;
      font-size: 17px;
      color: #32325d;
    // display: inline-block;
      margin: .3rem 1rem;
      text-align: left;
      list-style-type:circle;
    }
  }
}



// download section starts from her
.download.app{
  p{
    font-family:$varela;
    max-width: 900px;
    color: #576366;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  .btn-wrapper{
    .custom-btn{
      margin: 0 20px;
    }
  }
}



// team,html strarts form here

.team-section{
  max-height: 1930px;
  .member-wrap{
    img{
      height:100px;
      width: 100px;
      border-radius: 50%;
    }
  }
  h2{
    font-size: 3rem;
    text-align: center;
  }
}

.team-section{
  $prefix: at;
  $totalColumns: 9;
  // Custom Prefix
  .#{$prefix} {

    // Section
    &-section {
      &__title {
        margin: 70px auto;
        color: #000;
        font-family: $varela;
        color: $tundora;
        font-size: 2.3rem;
        font-weight: 300;
        line-height: 2.625rem;
        text-align: center;
      }
    }
    &-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background: #FFF;
      // border: 1px solid #E2E9ED;

      @for $i from 1 through $totalColumns {
        &[data-column="#{$i}"] {
          .#{$prefix}-column {
            width: percentage( 1 / $i );
            max-width: percentage( 1 / $i );
            min-width: percentage( 1 / $i );
            flex-basis: percentage( 1 / $i );
          }
        }
      }
    }
    &-column {
      z-index: 0;
      position: relative;
      background: #FFF;
      box-shadow: 0 0 0 1px #E2E9ED;
      padding: 10px;
      box-sizing: border-box;
      transition: box-shadow 0.2s ease,
                  transform 0.2s ease,
                  z-index 0s 0.2s ease;

      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }

      &:hover {
        z-index: 1;
        box-shadow: 0 8px 50px rgba(#000, 0.2);
        transform: scale(1.05);
        transition: box-shadow 0.2s ease,
                    transform 0.2s ease,
                    z-index 0s 0s ease;

        .#{$prefix}-social {
          margin: 16px 0 0;
          opacity: 1;
        }
      }

      @media (max-width: 800px) {
        width: 50% !important;
        max-width: 50% !important;
        min-width: 50% !important;
        flex-basis: 50% !important;
      }

      @media (max-width: 600px) {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
        flex-basis: 100% !important;
      }
    }

    &-user {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translate(0, -50%);
      text-align: center;

      &__avatar {
        width: 98px;
        height: 98px;
        border-radius: 100%;
        margin: 0 auto 20px;
        overflow: hidden;

        img {
          display: block;
          width: 100%;
          max-width: 100%;
        }
      }

      &__name {
        color: #313435;
        font-family: $montserrat;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.625rem;
      }

      &__title {
        color: #6F808A;
        font-family: $montserrat;
        font-size: 0.875rem;
        line-height: 2.375rem;
      }
    }

    &-social {
      margin: 0 0 -18px;
      opacity: 0;
      transition: margin 0.2s ease,
                  opacity 0.2s ease;

      &__item {
        display: inline-block;
        margin: 0 10px;

        a {
          display: block;
          color: $aluminium;
          font-family: $pt-sans;
          i{
            font-size: 20px;
          }
        }

        svg {
          fill: #515F65;
          display: block;
          height: 18px;
          transition: fill 0.2s ease;

          &:hover {
            fill: #788D96;
          }
        }
      }
    }
  }
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    transform-origin: top center;
    transform: scale(0.8);
  }
}


// about.faq starts from here
.about.faq{
  h1{
    text-align: center;
    font-size: 2.4rem;
  }
  h2{
    text-align: left;
    color: #34383a;
    font-size: 1.05rem;
  }
  div{
    font-family:$varela;
    color: #576366;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  .subheader{
    // font-size:
    text-align: center;
  }
}
.md-accordion{
  // margin: 20px;
  max-width: 900px;
  margin: auto;
  .expandCollapse {
    width:30px;
    height:30px;
    position:relative;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    color:#fff;
    display:block;
    margin-top: -2px;
    margin-left: -2px;
    overflow:hidden;
    &:active{
      border:0px;
    }
    &:before, &:after{
      width:30px;
      height:30px;
      display:block;
      position:absolute;
      top:0; left:0;
      line-height:32px;
      text-align:center;
      -webkit-transition: .3s all ease-out;
      transition: .3s all ease-out;
    }
    &:before {
      opacity:1;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      content: "|";
      margin-top:-3px;
    }
    &:after {
      opacity:1;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      content: "|";
      margin-left:-3px;
    }
  }
  .active:before {
    opacity:1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left:3px;
    margin-top:0px;
  }
  .dataContent {
    background: #F2F2F2;
    height:0px;
    overflow:hidden;
    -webkit-transition: .3s all ease-out;
    transition: .3s all ease-out;
  }
  .activeContent {
    height:auto;
    padding:20px;
    display:block;
  }
  .toolbar{
    cursor:pointer;
    padding: 16px;
    border-bottom:1px solid #D4D4D4;
  }
}
