<div class="collab ngo">
  <div class="container" layout-wrap layout="row" layout-align="center center">
    <div flex-xs flex-gt-xs="25" layout="column" ng-repeat="ngo in collabrationNGOs">
      <md-card>
        <img ng-src="images/{{ngo.image}}" ng-if="ngo.image!==''" class="md-card-image" alt="Washed Out">
        <img ng-src="images/blank.png" ng-if="ngo.image===''" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ngo.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="center center">
          <md-button class="md-icon-button" aria-label="More" ng-click="expandDetail(ngo, $envent)">
            <i class="ti-info-alt"></i>
          </md-button>
          <md-button class="md-icon-button" href="{{ngo.link}}" aria-label="More">
            <i class="ti-marker-alt"></i>
          </md-button>
          <md-button class="md-icon-button" aria-label="More">
            <i class="ti-map-alt"></i>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
