<section id="section1">
  <div class="img-carousel" hide-sm hide-xs>
    <ul rn-carousel class="image" rn-carousel rn-carousel-index="carouselIndex22" rn-carousel-duration="700" rn-carousel-auto-slide="7" rn-carousel-easing rn-carousel-buffered class="carousel2">
      <li ng-repeat="image in carouselImages">
        <img src="{{ image.img }}"/>
        <div class="text-wrapper" layout="column" layout-align="center center">
        </div>
      </li>
    </ul>
  </div>
  <div flex="100" layout="column" class="text-over-img" layout-margin layout-align="center center">
   <div layout="column"  layout-align="center center" class="radio-info-col">
     <h2>NSS IIT Delhi</h2>
     <h4>Be the change you wish to see in the world</h4>
     <a class="custom-btn" href="#section2">know more</a>
   </div>
 </div>
</section>

<section class="section2" id="section2">
  <div class="container text-wrapper" layout="row" layout-align="center center">
    <p>
      Our sole aim is to motivate students at IITD to indulge in nation building activities through various events and projects which are aimed towards the benefit of people in and around IIT Delhi. We share the belief that such activities are almost always means of great satisfaction and joy.
    </p>
  </div>
</section>
<section class="section3">
  <div class="container" layout="column" layout-align="center center">
    <h3>NSS IITD has a volunteer base of around 2000 students belonging to various disciplines and degrees of IIT Delhi.</h3>
    <a class="custom-btn" href=''>Know more</a>
  </div>
</section>

<!-- <section class="section4" layout="row" layout-align="center center">
  <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showTabs=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=manish9461%40gmail.com&amp;color=%231B887A&amp;ctz=Asia%2FCalcutta" style="border:solid 1px #777" width="800" height="400" frameborder="0" scrolling="no"></iframe>

</section> -->
