<div class="hours policy">
  <div class="container" layout="column" layout-align="center center">
    <h1>Internship Policy</h1>
    <div class="text-wrapper" layout="column" layout-align="start start">
      <ul layout="column">
        <li>Hours for Internship/External Social activities like participation in street play, blood donation etc., should be claimed within 3 months of completion of Internship. No arguments would be entertained in this regard.</li>
        <li>No complaints would be entertained regarding the hours after 1 month of happening of the event.</li>
        <li>No complaints would be entertained regarding the hours for projects after 1month of corresponding Sem end.</li>
      </ul>
      <b>A Homogeneous Hours Policy for Volunteers:</b>
      <br>
      Motivation - Again defining a hours policy is important from an organization point of view to work efficiently. Most of the times, we are troubled by questions from volunteers as to how many hours they are going to get for a particular task.
      <br>
      <br>
      Yes, it is difficult to define a homogeneous system of hours for the vast dimensions we work in
      <br>
      <br>
      <ul layout="column">
        <li>  Classification to be used is: Ground level & Non-Ground level work.</li>
        <li>This is what we have thought - </li>
      </ul>
      <ol>
        <li>Events - No. of hours depending upon the event</li>
        <li>Tech Work (Lecture Hours) - poster, app, website, etc - max 40 hours</li>
        <li>Backend work (Lecture Hours) - book editing, content development, case studies - 1.2*hours invested</li>
        <li> Volunteering - 1.5*hours invested + regularity bonus + Travel</li>
        <li>Internship - bulk hours policy</li>
        <p>Hours invested =&gt; the quality hours invested by the volunteer</p>
      </ol>
      <b>Collaboration Policy with other Bodies :</b>
      <br>
      Motivation - This is again an important part of an organization and determines our relation with other bodies.
      <br>
      <br>
      Some pointers for it are -
      <br>
      <br>
      The following applies to applies to Enactus, BloodConnect, AINA, Avanti etc.,
      <br>
      <br>
      <ol>
        <li>Only hours for ground level work to be given - min 20-max 50</li>
        <li>NSS IITD can gauge the work by taking interviews.</li>
        <li>A contact person from the organization is necessary</li>
        <li>Hours to be given in collaborative lecture events only</li>
      </ol>
      NSS Hours: NSS IITD will provide BloodConnect team members from IIT Delhi with NSS hours for the following tasks:
      <br>
      <br>
      (a) Technical Work: Website building/ Photoshop/ Video, etc. (Max: 40 hours- Lecture hours). This will be applicable till December 2014.
      <br>
      <br>
      (b) Ground level Work: Organizing BDCs, Managing helpline (Bulk hours: Non lecture hours. Minimum 20 and Maximum 70 hours can be provided to a person indulged through the same)
      <br>
      <br>
      Note: BloodConnect team members holding a post of VP (or equivalent) and above in the organization will be ineligible to claim any NSS hours from (a) or (b) above.

      Collaboration with other clubs - No managerial hours n hours only for preparation + volunteering
    </div>
  </div>
</div>
