<div class="hours complaint">
  <div class="container">
    <h1>Hours Complaint Guidelines</h1>
    <div class="text-wrapper" layout="column" layout-align="start start">
      <ul layout="column">
        <li>1. Any complaints related to hours for Internship/External Social activities like participation in street play, blood donation etc., would be entertained within 3 months of completion of Internship. No arguments would be entertained in this regard.</li>
        <li>2.No complaints would be entertained regarding the hours for projects after 1 month of corresponding Semester end.</li>
        <li>3.Please complain only if you have a genuine complaint. Hours are provided based on the time, effort and dedication you put in.</li>
        <li>4. The hours for small scale events such as talks on various issues, one time workshops would be uploaded within 72 hours of the event. Please complain only if you have not received the hours even after 3 days.</li>
        <li>5.Hours for large-scale one time events such as collections drive, cleanliness drive, blood donations camps etc. take more time.(More info to be added)</li>
        <li>6.Hours for volunteering opportunities will be updated only during mid sem and end sem. So, if you volunteer in a project, please wait until mid-sems/end sem for the hours to be uploaded.</li>
        <li>7. Once you send a complaint, it takes time to process it and discuss with the person concerned. Please do not become impatient and start sending more complaints. Multiple complaints do not help you get it resolved.</li>
        <li>8. If a complaint that you register is not resolved within 15 days, please drop a mail at nsshours@gmail.com.</li>
        <br>
        <a href="" class="custom-btn"> Register an hours complaint</a>
        <br>
        Note: Please read the Hours Complaint guidelines carefully before registering an hours complaint. Please do check the Pending Hours sheet below before registering a complaint. 
      </ul>
    </div>
</div>
