<div class="involve internship">
  <div class="container" data-bg-text="Internship" layout="column" layout-align="center center">
    <h1>Internship Policy</h1>
    <div class="text-wrapper" layout="column" layout-align="start start">
      <ul layout="column">
        <li>There are two types of internships possible:
          <ul type="1">
            <li>floated by NSS IITD over the mails.</li>
            <li>found by the students by themselves.</li>
          </ul>
        </li>
        <li>Procedure to start the internship:
          <ul type="1">
            <li>For those internships floated by NSS IITD itself. Have to register for the internships as per the procedure mentioned in the mail.
                List of Winter Internships floated by NSS can be found here.
            </li>
            <a class="custom-btn" href="">NSS IITD Winter internship</a>
            <li>for those internships found by the student themselves. The internship has to be approved by NSS IIT Delhi. For approval of the internship, seven days prior, students have to fill the form</li>
            <a class="custom-btn" href="">Self Arranged Internship Approval Request.</a>
          </ul>
        </li>
        <li>Important points to be taken care of while at internship: Each and every person is expected to follow these points while on an internship:
          <ul type="1">
            <li>Prepare the daily report of the internship. This daily report must contain the type of work done by you explained briefly.</li>
            <li>Take the pics/photographs to support your work.</li>
          </ul>
        </li>
        <li>After the completion of an internship. You are expected to submit the report to NSS IITD by mailing it to us at internships.nss@gmail.com with the subject “Internship Report”. This report must contain the following details:
          <ul type="1">
            <li>Organization profile (what the organization does, a bit about its inception etc.)</li>
            <li>Your work profile (what project(s) were you involved in and what did you get to do)</li>
            <li>Your previously prepared daily report.</li>
            <li>Experience (any interesting experience you'd like to share)</li>
            <li>Positives (Any learning, changes etc. you felt after the experience)</li>
            <li>Negative point (if any) while working with the NGO.</li>
            <li>Suggestions (Feedback on how the internship process could be improved)</li>
          </ul>
        </li>
        <li>Mail the scanned certificate from the NGO, and the pictures taken while on an internship with the same previous mail. Only scanned certificates will be accepted with having proper NGO Registration number, date, and authorised signatory.</li>
        <li>After the above steps, your interview will be scheduled and you are expected to be present for an interview.</li>
        <li><b>Hours Policy for Internships:</b><br>
          Hours will be awarded on the following basis:
          <ul type="1">
            <li>Maximum Hours - 70 hours.</li>
            <li>Interview after the internship - No one will be allotted hour without an interview.</li>
            <li>Report and certificates - If you fail to provide the report and certificate on the above lines - you will be liable to the deduction of hours.</li>
            <li>If you fail to give an interview/report within one month of the completion of an internship - you will be awarded ZERO HOURS for the internship. No query will be further entertained.</li>
            <li>Any fraudulent cases will lead to NEGATIVE HOURS and further disciplinary action as per Institute rules.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
